<!--
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <div class="header"></div>
  <div class="header2"></div>
  <img class="logo" src="../../assets/imgs/logo_sinfondo.png" alt="logo_miplanty">
  <div class="principal">
    <ion-item class="mail">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="contra">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </div>
</ion-content>
