<ion-header>
  <ion-toolbar class="toolbar-calend">
    <ion-button slot="start"  color="clear" class="boton-calend" (click)="backHome()">
      <ion-icon name="arrow-back-outline" class="salir-calend"></ion-icon>
    </ion-button>
    <ion-title class="titulo-calend">CALENDARIO</ion-title>
    <img class="usuario-calend" alt="usuario" src="assets/imgs/usuario.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="superior-calend">
<!--DESARROLLO CALENDARIO-->
  </div>
  <div class="inferior-calend">
    <div class="carteles-inferior">
      <div class="cartel-data">
        <h2>NO DATA</h2>
      </div>
      <div class="cartel-tarea">
        <h2>NO TAREA</h2>
      </div>
    </div>
    <div class="añadir-calend">
      <ion-button class="boton-añadir" color="light" shape="round">
        <ion-icon name="add-circle" slot="icon-only"></ion-icon>
      </ion-button>
      <div class="añadir-color">
        <h3>AÑADIR EVENTO</h3>
      </div>
    </div>
  </div>

</ion-content>
<ion-footer>

</ion-footer>
