<ion-header>
  <ion-toolbar class="toolbar-calend">
    <ion-button slot="start"  color="clear" class="boton-calend" (click)="backHome()">
      <ion-icon name="arrow-back-outline" class="salir-calend"></ion-icon>
    </ion-button>
    <ion-title class="titulo-calend">CALENDARIO</ion-title>
    <img style="height: 40px;" alt="usuario" src="assets/imgs/usuario.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="superior-calend">
<!--DESARROLLO CALENDARIO-->
  </div>
  <div class="inferior-calend">
    <div class="botones-inferior">
      <ion-button></ion-button>
      <ion-button></ion-button>
    </div>
    <div class="añadir-calend">
      <ion-button>
        <ion-icon name="add-circle" class="boton-añadir" (click)=""></ion-icon>
      </ion-button>
      <h3>Añadir evento</h3>
    </div>
  </div>

</ion-content>
