<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Recuperar cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 style="font-weight: bold; text-align: center; margin-top: 10%;">Introduzca su correo</h4>
  <ion-item class="mail">
    <ion-label position="floating">Usuario</ion-label>
    <ion-input [(ngModel)]="mail"></ion-input>
  </ion-item>
  <div class="boton_centrado">
    <button class="ingresar-b"(click)="fp_send()">ENVIAR</button>
  </div>
</ion-content>
