<ion-header>
  <ion-toolbar class="toolbar-settings">
    <ion-button slot="start"  color="clear" class="boton-settings" (click)="backHome()">
      <ion-icon name="arrow-back-outline" class="salir-settings"></ion-icon>
    </ion-button>
    <ion-title class="titulo-settings">CONFIGURACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="general-settings">
  <h2 class="subtitulo-settings">AJUSTES GENERALES</h2> 
  <ion-list>
    <ion-item class="item-settings">
      <ion-icon name="globe-outline" class="icon-settings"></ion-icon> 
      <ion-label>Idioma</ion-label>
      <ion-select placeholder="Seleccione idioma" interface="popover" class="custom-options">
        <ion-select-option value="español">Español</ion-select-option>
        <ion-select-option value="ingles">English</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="item-settings">
      <ion-icon name="lock-closed-outline" class="icon-settings"></ion-icon> 
      <ion-label>Acceso</ion-label>
    </ion-item>
    <ion-item class="item-settings">
      <ion-icon name="trash-outline" class="icon-settings"></ion-icon>
      <ion-label>Borrar</ion-label>
    </ion-item>
    <ion-item class="item-settings">
      <ion-icon name="notifications-outline" class="icon-settings"></ion-icon>
      <ion-label>Notificaciones</ion-label>
    </ion-item>
  </ion-list>
</div>
<div class="ayuda-settings">
  <h2 class="subtitulo2-settings">AYUDA</h2> 
  <ion-list>
    <ion-item class="item-settings">
      <ion-icon name="help-circle-outline" class="icon-settings"></ion-icon> 
      <ion-label>Ayuda</ion-label>
    </ion-item>
    <ion-item class="item-settings">
      <ion-icon name="chatbox-ellipses-outline" class="icon-settings"></ion-icon> 
      <ion-label>Comentarios</ion-label>
    </ion-item>
  </ion-list>
</div>
<div class="cuenta-settings">
  <h2 class="subtitulo2-settings">CUENTA</h2> 
  <ion-list>
    <ion-item class="item-settings">
      <ion-icon name="person-outline" class="icon-settings"></ion-icon> 
      <ion-label>Datos</ion-label>
    </ion-item>
    <ion-item (click)="logout()" class="item-settings">
      <ion-icon name="log-out-outline" class="icon-settings"></ion-icon> 
      <ion-label>Log out</ion-label>
    </ion-item>
    <ion-item class="item-settings">
      <ion-icon name="moon-outline" class="icon-settings"></ion-icon> 
      <ion-label>Tema Oscuro</ion-label>
      <ion-toggle color="success"></ion-toggle>
    </ion-item>
  </ion-list>
</div>
</ion-content>

<ion-footer>

</ion-footer>


