<ion-header>
  <ion-toolbar class="toolbar-settings">
    <ion-button slot="start"  color="clear">
      <ion-icon name="arrow-back-outline" class="salir-settings"></ion-icon>
    </ion-button>
    <ion-title class="titulo-settings">CONFIGURACIÓN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="general-settings">
  <h2 class="subtitulo-settings">AJUSTES GENERALES</h2> 
  <ion-list>
    <ion-item href="" class="item-settings">
      <ion-label>
        <ion-icon name="globe-outline" class="icon-settings"></ion-icon> Idioma 
      </ion-label>
    </ion-item>
    <ion-item href="" class="item-settings">
      <ion-label>
        <ion-icon name="lock-closed-outline" class="icon-settings"></ion-icon> Acceso
      </ion-label>
    </ion-item>
    <ion-item href="" class="item-settings">
      <ion-label>
        <ion-icon name="trash-outline" class="icon-settings"></ion-icon> Borrar
      </ion-label>
    </ion-item>
    <ion-item href="" class="item-settings">
      <ion-label>
        <ion-icon name="notifications-outline" class="icon-settings"></ion-icon> Notificaciones
      </ion-label>
    </ion-item>
  </ion-list>
</div>
<div class="ayuda-settings">
  <h2 class="subtitulo2-settings">AYUDA</h2> 
  <ion-list>
    <ion-item href="" class="item-settings">
      <ion-label>
        <ion-icon name="help-circle-outline" class="icon-settings"></ion-icon> Ayuda
      </ion-label>
    </ion-item>
    <ion-item href="" class="item-settings">
      <ion-label>
        <ion-icon name="chatbox-ellipses-outline" class="icon-settings"></ion-icon> Comentarios
      </ion-label>
    </ion-item>
  </ion-list>
</div>
<div class="cuenta-settings">
  <h2 class="subtitulo2-settings">CUENTA</h2> 
  <ion-list>
    <ion-item href="" class="item-settings">
      <ion-label>
        <ion-icon name="person-outline" class="icon-settings"></ion-icon> Datos
      </ion-label>
    </ion-item>
    <ion-item href="" class="item-settings">
      <ion-label>
        <ion-icon name="log-out-outline" class="icon-settings"></ion-icon> Log out
      </ion-label>
    </ion-item>
    <ion-item href="" class="item-settings">
      <ion-label>
        <ion-icon name="brush-outline" class="icon-settings"></ion-icon> Tema
      </ion-label>
    </ion-item>
  </ion-list>
</div>
</ion-content>

<ion-footer>

</ion-footer>


