@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

.grilla-superior{
    height: 20%;
    background-color: rgb(204, 231, 163);
}

.col-der{
    position: relative;
    img{
        position: absolute;
        bottom: 5%;
        height: 120px;
    }
}

.planta3{
}

.planta1{
}

.planta2{
}

.col-izq{
    position: relative;
    img{
        position: absolute;
        bottom: 0%;
        height: 65px;
    }

}
.titulo-plant{
    color: green;
    position: absolute;
    top:5%;
    margin: 0px !important;
    font-family: monospace;
    left:8%;
    text-decoration: underline;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 8px;
}


.grilla-media{
    height: 8%;
    display:flex;
    align-items: center;
    justify-content:center;
}

ion-card{
    border:0.25px solid rgb(138, 138, 138);
    //box-shadow: 1px 1px 1px 0.5px rgb(138, 138, 138);
    img{
        padding:10px;
    }
}
ion-card-header{
    background-color: rgb(204, 231, 163);
}

.titulo-card{
    font-family: monospace;
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    color:green;
    text-align: center;
}