<!--<ion-header>
  <ion-toolbar>
    <ion-title>grilla</ion-title>
    <img>
    <img>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="grilla-superior">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <h2 class="titulo-plant">PLANTAS</h2>
          <img src="../../assets/imgs/planta-izq.png" height="80px">
        </ion-col>
        <ion-col size="4">
          <img src="../../assets/imgs/planta-der.png" height="120">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <hr color="grey" size="3">

  <div class="grilla-media">
    <ion-buttons>
      <ion-button fill="solid" color="success" shape="round">POPULAR</ion-button>
      <ion-button fill="solid" color="success" shape="round">PERSONAL</ion-button>
      <ion-button fill="solid" color="success" shape="round">TODAS</ion-button>
    </ion-buttons>
  </div>
  <div class="grilla-inferior">
   <ion-grid>
     <ion-row>
       <ion-col >
        <div>prueba</div>
       </ion-col>
       <ion-col>
        <div>prueba 2</div>
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        hola
      </ion-col>
      <ion-col>
       hola 
     </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        hola
      </ion-col>
      <ion-col>
        hola
     </ion-col>
    </ion-row>
   </ion-grid> 
  </div>
</ion-content>
