<ion-header>
  <ion-toolbar>
    <ion-title>grilla</ion-title>
    <img>
    <img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="grilla-superior">

  </div>
  <div class="grilla-inverior">
   <ion-grid>
     <ion-row>
       <ion-col size="6">
        hoal
       </ion-col>
       <ion-col>
         hola
      </ion-col>
     </ion-row>
     <ion-row>
      <ion-col>
        hola
      </ion-col>
      <ion-col>
       hola 
     </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        hola
      </ion-col>
      <ion-col>
        hola
     </ion-col>
    </ion-row>
   </ion-grid> 
  </div>
</ion-content>
