
<ion-content>
  <div class="grilla-superior">
    <ion-grid style="height: 100%;">
      <ion-row style="height: 100%;">
        <ion-col size="7" class="col-izq">
          <h2 class="titulo-plant">{{tittle}}</h2>
          <div class="imagenes-grilla1">
            <div class="imagenes-grilla2"><img src="../../assets/imgs/vides.png"></div>
            <div class="imagenes-grilla2"><img src="../../assets/imgs/vides.png"></div>
            <div class="imagenes-grilla2"><img src="../../assets/imgs/vides.png"></div>
            <div class="imagenes-grilla2"><img src="../../assets/imgs/vides.png"></div>
          </div>
        </ion-col>
        <ion-col size="5" class="col-der">
          <img src="../../assets/imgs/logo_sinfondo.png" height="200">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <hr color="grey" size="3">

  <div class="grilla-media">
    <ion-buttons>
      <ion-button fill="solid" color="success" shape="round">{{button1}}</ion-button>
      <ion-button fill="solid" color="success" shape="round">{{button2}}</ion-button>
      <ion-button fill="solid" color="success" shape="round">{{button3}}</ion-button>
    </ion-buttons>
  </div>
  <div class="grilla-inferior">
    
        <ion-card class="card" *ngFor="let planty of plantys;" (click)="presentModal(planty)">
          <img src="../../assets/imgs/phomeCENTRAL.png">
          <ion-card-header>
            <ion-card-title class="titulo-card"><label>{{planty[0]}}</label></ion-card-title>
          </ion-card-header>
        </ion-card>
  
  </div>
</ion-content>
