.toolbar-home {
    --background:rgb(168, 192, 223);
    height: 60px;
    position: relative;
  }

.toolbar-salir{
    position: absolute;
    left: 2%;
    top:25%;
    ion-button{
        font-size: larger;
        font-weight:500;
    }
}

.toolbar-logo{
    position: absolute;
    top:20%;
}

.toolbar-mas{
    position: absolute;
    right: 2%;
    top:25%;
    ion-button{
        font-size: larger;
        font-weight: bold;
    }
}

ion-icon{
    color:black;
  }

.superior-home{
    position: relative;
    height: 50%;
    text-align: center;
    img{
        height: 60%;
        width: auto;
        margin-top: 10%;
        border:2px solid transparent;
        border-radius: 60%;
    }
}

.boton-i{
    position: absolute;
    top:40%;
    left: 0;
}

.boton-d{
    position: absolute;
    top:40%;
    right: 0;
}

.flechas-home{
    color:blue;
    font-size: 80px;
}

.inferior{
    height: 50%;
}