<ion-header>
  <ion-toolbar style="background-color: cyan;">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="back()">Salir</ion-button>
    </ion-buttons>
    <ion-title><img style="height: 40px;" alt="logo" src="assets/imgs/logo_sinfondo.png"></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="back()"><ion-icon name="add-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="superior">
    <ion-button class="boton-i"></ion-button>
    <img src="../../assets/imgs/planta.png" alt="planta">
    <ion-button class="boton-d"></ion-button>
  </div>
  <div class="inferior">
    <div>

    </div>
    <div>

    </div>
    <div>

    </div>
  </div>
</ion-content>

<ion-footer>

</ion-footer>
