<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="wip">
      <ion-icon style="color: white;" name="calendar-number"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="grilla">
      <ion-icon style="color: white;" name="leaf"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon style="color: white;" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="wip">
      <ion-icon style="color: white;" name="cloudy"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon style="color: white;" name="cog"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
